<div id="dlg_redmine_fragment" style="display:none">
  <form id="reveal_fragment_form">
    <fieldset>
      <div class="tabular">
        <p>
          <label for="reveal_highlight_color">hilight color</label>
          <select name="reveal_highlight_color" id="reveal_highlight_color">
            <option value=""></option>
            <option value="red">red</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
          </select>
        </p>
        <p>
          <label for="reveal_highlight_current">hilight current</label>
          <input type="checkbox" name="reveal_highlight_current" id="reveal_highlight_current"/>
        </p>
        <p>
          <label for="reveal_fragment_fade">fade</label>
          <select name="reveal_fragment_fade" id="reveal_fragment_fade">
            <option value=""></option>
            <option value="in">in</option>
            <option value="out">out</option>
            <option value="up">up</option>
            <option value="down">down</option>
            <option value="left">left</option>
            <option value="right">right</option>
          </select>
        </p>
        <p>
          <label for="reveal_fragment_grow">grow</label>
          <input type="checkbox" name="reveal_fragment_grow" id="reveal_fragment_grow"/>
        </p>
        <p>
          <label for="reveal_fragment_shrink">shrink</label>
          <input type="checkbox" name="reveal_fragment_shrink" id="reveal_fragment_shrink"/>
        </p>
        <p>
          <label for="reveal_fragment_visible">visible</label>
          <input type="checkbox" name="reveal_fragment_visible" id="reveal_fragment_visible"/>
        </p>
      </div>
    </fieldset>
  </form>
</div>
